* {
  font-family: "Lato", Arial, Helvetica, sans-serif;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  /* background-color:  rgba(53, 53, 53, 0.132); */
}

.header {
  text-align: center;
  padding: 15px;
  background-color: rgba(0, 0, 0, 0.05);
}

.header h1 {
  font-size: 3.5em;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
}

.header h2 {
  font-size: 1.9em;
  font-family: "Raleway", sans-serif;
}

.header h3 {
  font-size: 1em;
  font-family: "Lato", sans-serif;
  padding-top: 10px;
  /* color: gray; */
}

.header h4 {
  font-size: 1em;
  font-family: "lato", sans-serif;
  padding-top: 10px;
}

.menuBar {
  /* height: 100px; */
  text-align: center;
  background-color: rgba(21, 159, 0, 0.92);
  color: white;
  line-height: 50px;
  font-family: "Raleway", sans-serif;
}

.menuBar a {
  margin-left: 15px;
  font-size: 1.5em;
  display: inline-block;
  font-weight: 600;
  text-align: center;
  /* line-height: 50px; */
  /* padding: 0 5px 0 5px; */
}

.menuBar a:link,
a:visited {
  text-decoration: none;
  color: white;
  font-size: 1.2em;
  text-align: center;
  padding-right: 25px;
}

.menuBar a:hover {
  /* background-color: rgba(46, 238, 36, 0.625); */
  color: black;
  /* background-color: white; */
}

.site-desc {
  width: 80%;
  text-align: center;
  margin: auto;
  margin-top: 15px;
}

/* ysSlider Implementation */
.ysslider {
  width: 100%;
  max-width: 1200px;
  position: relative;
  margin: auto;
  margin-top: 20px;
  /* border: red solid; */
}

.img-container {
  height: 100%;
  /* border: blue solid; */
  width: 80%;
  margin: auto;
}

.ysslider img {
  height: 60vh;
  object-fit: cover;
  /* border: solid green; */
  margin: auto;
  width: 100%;
}

.controlbar {
  /* position: absolute; */
  /* top: 50%; */
  /* border: solid 1px red; */
  width: 200px;
  height: 50px;
  text-align: center;
  margin: auto;
  font-size: 30px;
  line-height: 50px;
}

.controlbar a:link {
  text-decoration: none;
  color: black;
  /* background-color: rgba(0,0,0,0.1); */
}

.controlbar a:hover {
  background-color: rgba(21, 159, 0, 0.714);
  color: white;
}

.controlbar .prev {
  /* border: green solid 1px; */
  width: 50px;
  display: inline-block;
}

.controlbar .next {
  /* border: blue solid 1px; */
  width: 50px;
  display: inline-block;
}

.propDesc {
  position: relative;
  /* border: 1px red solid; */
  width: 80%;
  max-width: 1200px;
  /* height: 200px; */
  margin: auto;
  padding-top: 20px;
  margin-bottom: 20px;
}

.propDesc ul {
  margin: auto;
  width: auto;
  font-weight: bold;
  padding: 20px 0 0 0;
  margin-bottom: 20px;
}
.propDesc h1 {
  margin-bottom: 10px;
}

.propDesc1 {
  justify-content: center;
  text-align: center;
  margin-top: 10px;
}

.propDesc2 {
  text-align: center;
}

.propDesc1,
.propDesc2 li {
  list-style: none;
  /* margin: 0;
    padding: 0; */
}

.descriptions {
  font-size: 17px;
  padding: 5px;
  font-weight: normal;
}

.contact {
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
}

.contactContainer {
  max-width: 1200px;
  margin: auto;
  width: 80%;
}

.contactInfo {
  width: auto;
  margin: 25px 0 30px 0;
  position: relative;
  padding-left: 0;
}

.contactInfo h4 {
  margin-top: 10px;
  font-size: 1.1em;
}

.map {
  margin: auto;
  padding-left: 0;
  max-height: 500px;
  height: 40vh;
}

.map iframe {
  width: 100%;
  max-width: 600px;
  height: 100%;
}

.cred {
  padding-bottom: 15px;
  font-size: 0.7em;
  margin: auto;
  text-align: center;
}

.cred a:visited {
  color: black;
}
